
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Import ViewerJS
@import '../../node_modules/viewerjs/src/scss/viewer.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}
body, span{
  font-family:  Helvetica-light;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img {
  max-width: 100%;
}
.song-set{
  list-style: none;
}
//container
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: white;
  height: 1300px;
}
//Header
.banner{
  border-bottom: 1px solid #f0f1f0;
  padding-bottom: 8px;
  padding-top: 5px;
}
// login
.main-login{
  margin-top: 100px;
}
.align-log{
  text-align: center;
}
.navbar-form{
  margin-top: 20px;
}
.login-title{
  font-size: 40px;
  color: #5a5c5b;
  text-align: center;
  font-family:  Helvetica-light;
}
.login-subtitle{
  font-size: 25px;
  color: rgb(171,173,172);
  font-family:  Helvetica-light;
  font-weight: lighter;
  margin-top: -15px;
  margin-left: 100px;
  font-size: 20px;
}

}
.secondary-login{
  text-align: center;
}

.loglog{
  margin-left: -24px;
}
.log-email{
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.log-password{
  padding: 10px;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.login{
  font-family: 'ff-tisa-sans-web-pro';
  margin-top: 10px;
  font-size: 18px;
  //line-height: 37px;
  width: 213px;
  margin-left: -24px;
  background-color: rgb(209,229,219);
  color: rgb(77,169,120);
  border: 1px solid #4eab79;
}
.login:hover{
  transition-duration: .25s;
  background-color: #4eab79;
}
.need-account{
  display: block;
  color: grey;
  text-decoration: none;
}
//Sign up
.signup-complete{
  margin-top: 100px;
}
.sign-email{
  width: 365px;
  padding: 10px;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.first-name{
  width: 175px;
  padding: 10px;
  border-radius: 3px;
  display: inline;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.last-name{
  margin-top: 15px;
  margin-left: 15px;
  width: 175px;
  padding: 10px;
  border-radius: 3px;
  display: inline;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.sign-password{
  margin-top: 15px;
  width: 175px;
  display: inline;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.conf-password{
  width: 175px;
  margin-left: 15px;
  display: inline;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  border:  1px solid #f0f1f0;
}
.sign-success{
  margin-top: 15px;
  width: 150px;
  font-size: 20px;
}
//Slide list
.slider-main{
  background-color: white;
}
.slide-container{
  width: 960px;
  // height: 100%;
  border: 1px solid #f0f1f0;
  padding-top: 12px;
  border-radius: 4px;
  background-color: white;
}
.list-group{
  padding-top: 5px;
}
.slide-second-container{
  width: 960px;
  border: 1px solid #f0f1f0;
  border-radius: 4px;
  background-color: white
}
.title-slide{
  font-family:  Helvetica-light;
  font-size: 50px;
  color: #5a5c5b;
  text-align: center;
}
.title-pic{
  padding-right: 5px;
}
.title-author{
  font-size: 25px;
  color: rgb(171,173,172);
  font-family:  Helvetica-light;
  text-align: center;
  margin-top: -15px;
  margin-left: 150px;
  font-weight: lighter;
  font-size: 20px;
}
.back-link{
  font-family: 'ff-tisa-sans-web-pro';
  margin-left: 25px;
  font-size: 22px;
  float: left;
  color: #4eab79;
}
.back-link-second{
  color: #4eab79;
}
.back-link-second:hover{
  color: #4eab79;
}
.devs{
  font-size: 15px;
  float: right;
}
// Slide list
.slideshow-item{
  list-style: none;
  color: #918D86;
  font-size: 18px;
}
.slideshow-name{
  text-transform: capitalize;
  padding-top: 14px;
  font-family: 'ff-tisa-sans-web-pro';
}
// Images
.soundcloud-app{
  margin-top: 5px;
}

.slideshow-image{
  width: 200px;
}
.image-thumb{
  label{
    margin-bottom: 0px;
  }
  display: inline-block;
  box-shadow: none;
  position: relative;
  margin: 5px;
  padding: 0;
  margin-right: 15px;
  margin-bottom: 15px;

  .select-indicator {
    background: white;
    border: 1px solid  #abadac;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    top: -9px;
    right: -9px;

    .active-indicator {
      background: #4eab79;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      position: absolute;
      top: 6px;
      right: 5px;
      display: none;
    }
  }

  &.active .active-indicator{
    display: block;
    padding-bottom: 0px;
  }

  &.active{
    box-shadow: none;
    box-shadow: 5px 4px 5px -3px #4eab79,-5px -4px 5px -3px #4eab79,-5px 4px 5px -3px #4eab79;
  }

}
//Buttons
.slideshow-actions{
  padding-top: 20px;
}
.delete{
  font-family: 'ff-tisa-sans-web-pro';
  margin-top: -20px;
  background: #fae1e1;
  margin-right: 3px;
  color:  #ef6666;
  display: inline-block;
}
.delete:hover{
  transition-duration: .25s;
}
.view{
  font-family: 'ff-tisa-sans-web-pro';
  background: rgba(78,171,121,.2);
  margin-top: -20px;
  color: #4eab79;
  border: 1px solid #4eab79;
  margin-right: 3px;
  display: inline-block;
}
.view:hover{
  transition-duration: .25s;
  background-color: #4eab79;
  border: 1px solid #4eab79;
}
.edit{
  font-family: 'ff-tisa-sans-web-pro';
  margin-top: -20px;
  margin-right: 3px;
  border: 1px solid #4eab79;
  display: inline-block;
  background-color: white;
  color: #4eab79;
}
.edit:hover{
  transition-duration: .25s;
  background-color: #4eab79;
}
.create{
  font-family: 'ff-tisa-sans-web-pro';
  margin-top: 20px;
  margin-bottom: 10px;
  width: 160px;
  font-size: 18px;
  background-color: rgb(209,229,219);
  color: rgb(77,169,120);
  border: 1px solid #4eab79;
}
.create:hover{
  transition-duration: .25s;
  background-color: #4eab79;
}
.create-secondary{
  text-decoration: none;
  font-color: green;
}
//Create/Edit screen
.create-title{
  border: 1px solid #ddd;
  width: 341px;
  font-size: 28px;
  text-align: center;
  font-family: 'ff-tisa-sans-web-pro';
  margin-bottom: 15px;
  margin-top: 15px;
  line-height: 20px;
  height: 36px;
  border-radius: 8px;
  padding-left: 7px;

}
.create-description{
  display: block;
  border: 1px solid #ddd;
  width: 237px;
  font-size: 14px;
  margin-bottom: 7px;
  line-height: 20px;
  height: 34px;
  border-radius: 3px;
  padding-left: 7px;
}
.save-me{
  color: white;
}
.save{
  position: fixed;
  bottom: 0px;
  // left: 0px;
  // right: 0px;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: rgb(209,229,219);
  color: rgb(77,169,120);
  border: 1px solid #4eab79;
  font-family: 'ff-tisa-sans-web-pro';
  width: 150px;
  font-size: 18px;
  margin-top: 20px;

}
.save:hover{
  font-family: 'ff-tisa-sans-web-pro';
  transition-duration: .25s;
  background-color: #4eab79;
  border: 1px solid #4eab79;
}
// Select track
.track-box{
  width:960px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid #f0f1f0;
  background-color: white;
}
.select-track{
  font-family: 'ff-tisa-sans-web-pro';
  text-align: center;
}
.song-select{
  text-align: center;
  margin-top: 5px;
}
//Soundcloud view
.soundcloud-title{
  display: none;

}
.soundcloud-play{
  display: none;
}
.soundcloud-album{
  display: none;
}
// Viewer Plug in
.viewer-toolbar{
  width: 85px;
  margin: 0 auto;
}
.viewer-zoom-in{
  display: none;
}
.viewer-zoom-out{
  display: none;
}
.viewer-one-to-one{
  display: none;
}
.viewer-reset{
  display: none;
}
.viewer-rotate-left{
  display: none;
}
.viewer-rotate-right{
  display: none;
}
.viewer-flip-horizontal{
  display: none;
}
.viewer-flip-vertical{
  display: none;
}
