node_modules
aws-creds-slideshow-production.json
.tmp
.sass-cache
aws-creds-slideshow-production.json
.DS_Store
dist/

npm-debug.log

# deployment stuff
aws-creds-slideshow-production.json
.awspublish-slideshow.arkiver.com
.awspublish-arkiver-s3-slideshow-production-bucket
